html{
  scroll-behavior: smooth;
}

body{
    margin-top: 50px;
}

.bg-black-gray{
  background-color: #171717;
}

.scroll-item {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.5s ease-out;
}

.scroll-item.visible {
  opacity: 1;
  transform: translateY(0);
}


  .gradient{
    background: #171717;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 27%, rgba(41, 41, 41, 0.68) 66%, rgba(255, 255, 255, 0) 100%);
  }

  .product-gradient{
    background: #c7c7c7;
    background: linear-gradient(0deg, rgba(199, 199, 199, 1) 0%, rgba(84, 84, 84, 1) 27%, rgba(0, 0, 0, 1) 78%);

  }

  /* PIG EFECTO PARA EL PORCENTAJE DE DESCUENTO*/
    @keyframes slow-ping {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.4;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .animate-soft-ping {
    animation: slow-ping 2s ease-in-out infinite;
  }

/* MUESTRA (...) CUANDO LA INFORMACION EXEDE DE COLUMNA */
  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  }

  .content-vh{
    height: 100vh;
  }
  
.description-content {
     overflow: hidden;
     max-height: 0;
     transition: max-height 0.3s ease;
 }

 .description-content.show {
     max-height: 300px;
     /* Ajusta según el contenido promedio */
 }

 /* Estilos para el modo oscuro */
 .dark .bg-gray-900 {
     background-color: #1a202c;
 }

 .dark .bg-white {
     background-color: #2d3748;
 }

 .dark .bg-gray-100 {
     background-color: #656c79;
 }

 .dark .text-white {
     color: #f7fafc;
 }

 .dark .text-gray-800 {
     color: #e2e8f0;
 }

 .dark .text-gray-600 {
     color: #edf2f4;
 }

 .dark .text-gray-500 {
     color: #cbd5e0;
 }

/* -------------------------------- */

 .floating-button {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: #ffffff;
     color: rgb(0, 0, 0);
     border: 1px solid rgb(199, 199, 199);
     border-radius: 50%;
     width: 60px;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
     cursor: pointer;
 }
 
.floating-button {
  transition: transform 0.3s ease;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0%, 100% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
  }
}

.floating-button .cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}

/* -------------------------------- */


 /* EFECTO DEL ICONO DE COMPRA EN CADA PRODUCTO */
@keyframes rotate {
  0% { transform: rotate(-7deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(-7deg); }
}

.effect {
  animation: rotate 2s infinite;
}