
.description-content {
     overflow: hidden;
     max-height: 0;
     transition: max-height 0.3s ease;
 }

 .description-content.show {
     max-height: 300px;
     /* Ajusta según el contenido promedio */
 }

 /* Estilos para el modo oscuro */
 .dark .bg-gray-900 {
     background-color: #1a202c;
 }

 .dark .bg-white {
     background-color: #2d3748;
 }

 .dark .text-white {
     color: #f7fafc;
 }

 .dark .text-gray-800 {
     color: #e2e8f0;
 }

 .dark .text-gray-600 {
     color: #edf2f4;
 }

 .dark .text-gray-500 {
     color: #cbd5e0;
 }

 .floating-button {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: #4073e0;
     color: white;
     border: none;
     border-radius: 50%;
     width: 60px;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     cursor: pointer;
 }
 
.floating-button {
  transition: transform 0.3s ease;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0%, 100% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
  }
}

 .cart {
     position: fixed;
     bottom: 100px;
     right: 0px;
     background-color: white;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     padding: 10px;
     display: none;
     z-index: 1000;
 }


 /* EFECTO DEL ICONO DE COMPRA EN CADA PRODUCTO */
@keyframes rotate {
  0% { transform: rotate(-7deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(-7deg); }
}

.effect {
  animation: rotate 2s infinite;
}