body{
    margin-top: 150px;
}

/* BORDE A IMG PNG */
  /* .logo-biker-img {
    filter: drop-shadow(0px 0px 2px rgb(206, 206, 206));
  } */


.navbar {
    background-color: #000000; /* Color de fondo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease; /* Transición suave */
    z-index: 20;
    position: fixed;
    width: 100%;
    top: 0;
    display: inline-block;
    justify-items: center;
    align-items: center;
}

.navbar-brand {
    margin: 10px;
    font-size: 24px; /* Tamaño de la fuente */
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    padding: 10px;
    display: flex;
}


.navbar-logo {
    height: 40px; /* Ajusta la altura según sea necesario */
    margin-right: 10px; /* Espaciado entre la imagen y el texto */
    vertical-align: middle; /* Alinea la imagen verticalmente con el texto */
}

.content-list {
    display: flex;
    justify-content: center; /* Alineación a la derecha */
    width: 90%;
    overflow-x: auto; /* Permite desplazamiento horizontal */
    white-space: nowrap; /* Evita el salto de línea */

}

.nav-list {
    display: flex;
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin relleno */
    margin: 0; /* Sin margen */
    min-width: 100px;

}

.nav-list li {
    margin: 10px 15px; /* Espaciado entre elementos de la lista */
    font-family: Arial, sans-serif;
    position: relative; /* Para posicionar la línea */
}

.nav-list li samp{
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.line {
    position: absolute;
    bottom: -5px; /* Ajusta la posición según sea necesario */
    left: 0;
    width: 100%;
    height: 2px; /* Altura de la línea */
    background-color: #ffffff; /* Color de la línea */
    transform: scaleX(0); /* Inicialmente oculta */
    transition: transform 0.2s ease; /* Efecto de transición */
}

.nav-list li:hover .line,
.nav-list li.active .line {
    transform: scaleX(1); /* Muestra la línea */
}

.nav-list i {
    color: #7f8488;
    margin-right: 8px; /* Espaciado entre el ícono y el texto */
}

.nav-link {
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
}


@media(max-width: 768px) {
    body {
        margin-top: 150px;
    }

    .navbar {
        padding-top: 10px;
    }

    .navbar-brand {
        margin-left: 0px;
        margin: 0px;
    }

    .content-list {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .nav-list {
        width: auto; /* Ancho fijo de la lista */
        overflow-x: auto; /* Permite desplazamiento horizontal */
        white-space: nowrap; /* Evita el salto de línea */
    }

    .nav-list li {
        margin-right: 10px; /* Espaciado entre los elementos */
        margin-left: 10px;
    }

    .nav-list li:last-child {
        margin-right: 0; /* Elimina el margen derecho del último elemento */
    }
}